<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  MrktoForm,
  FreeTrialCTA,
  PullQuote,
  Faq,
} from '../components/common/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    MrktoForm,
    PullQuote,
    FreeTrialCTA,
    Faq,
  },
  async asyncData({ $content, error }: any) {
    try {
      const sales = await $content('sales').fetch();
      return { sales };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).sales, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="(component, index) in sales.components"
      :key="component.name + `-${index}`"
      :data="component.data"
    >
      <component
        :is="component.child.name"
        v-if="component.child"
        :data="component.child.data"
      />
    </component>
  </SlpContainer>
</template>
